<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>

<body>
	<nav th:replace="layouts::navbar"></nav>
	<div class="container">
		<form action="/employees/save" method="POST" th:object="${employee}">
		<input type="text" placeholder="FirstName" th:field="${employee.firstName}">
		<input type="text" placeholder="LastName" th:field="${employee.lastName}">
		<input type="text" placeholder="Email" th:field="${employee.email}">
		<button type="submit">Create Employee</button>
		</form>
	</div>
	
</body>

</html>